.button-play {
    position: absolute;
    width: 254px;
    height: 100px;
    left: 0;
    right: 0;
    top: calc(50% + 222px);
    margin: 0 auto;
    background: url(../assets/play.png) no-repeat;
    background-position: center 8.5px;
    background-size: 241px 88px;
}
.button-play:hover {
    background: url(../assets/play_hover.png) no-repeat;
    background-position: center 0px;
    background-size: 254px 100px;
}