.shop-window {
    position: absolute;
    color: #a69785;
    width: 500px;
    height: 400px;
    padding: 80px 15px;
    top: 100px;
    left: 50%;
    border: burlywood solid 1px;
    transform: translate(-50%,0);
    background-color: #111;
    z-index: 1001;
    border-radius: 5px;
    box-sizing: border-box;
}
.enchance-window .icon-item{
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.enchance-btn {
    text-decoration: underline;
}
.shop-close {
    position: absolute;
    right: 10px;
    top: 5px;
}
.shop-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}