.skill-box {
    background: url(../assets/ActionBar3.png);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 790px;
    height: 177px;
}
.skill-shortcuts {
    background: url(../assets/ActionBar3-shortcuts.png);
    pointer-events: none;
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 585px;
    height: 27px;
}
.skill-slot {
    position: absolute;
    bottom: 38.5px;
    width: 41px;
    height: 41px;
}
.skill-slot img {
    height: 100%;
    width: 100%;
}
.skill-slot.skill-slot-sm {
    width: 31px;
    height: 31px;
}
.skill-slot-q {
    left: 96.5px;
    bottom: 42.5px;
}
.skill-slot-1 {
    left: 136.5px;
}
.skill-slot-2 {
    left: 186.5px;
}
.skill-slot-3 {
    left: 236.5px;
}
.skill-slot-4 {
    left: 286.5px;
}
.skill-slot-5 {
    right: 138.5px;
}
.skill-slot-6 {
    right: 188.5px;
}
.skill-slot-7 {
    right: 238.5px;
}
.skill-slot-8 {
    right: 288.5px;
}
.skill-slot-e {
    right: 98.5px;
    bottom: 42.5px;
}
.skill-hp {
    position: absolute;
    width: 35px;
    height: 112px;
    left: 351px;
    top: 34px;
}
.skill-hp .hp-bar {
    position: absolute;
    width: 35px;
    bottom: 0;
    background: url(../assets/fill_hp.png);
    background-size: 35px 112px;
    background-position-y: bottom;
    transition: height 0.5s;
}
.skill-hp::after {
    content: '';
    width: 35px;
    height: 112px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url(../assets/ab3_stat_overlay_left.png);
    background-size: 35px 112px;
    background-position-y: bottom;
}
.skill-mp {
    position: absolute;
    width: 34px;
    height: 112px;
    left: 404px;
    top: 34px;
}
.skill-mp .mp-bar {
    position: absolute;
    width: 34px;
    bottom: 0;
    background: url(../assets/fill_mp.png);
    background-size: 34px 112px;
    background-position-y: bottom;
    transition: height 0.5s;
}
.skill-mp::after {
    content: '';
    width: 34px;
    height: 112px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url(../assets/ab3_stat_overlay_right.png);
    background-size: 34px 112px;
    background-position-y: bottom;
}