.topbar-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    background: url(../assets/top_bar.png) no-repeat;
    background-size: contain;
}
.topbar-avatar {
    position: absolute;
    height: 38px;
    width: 38px;
    left: 116px;
    top: 10.5px;
}
.topbar-avatar img {
    height: 100%;
    width: 100%;
}
.topbar-info {
    position: absolute;
    left: 165px;
    top: 9px;
    font-size: 14px;
    color: #a69785;
}
.topbar-data {
    position: absolute;
    left: 180px;
    top: 31px;
    font-size: 14px;
    color: #a69785;
}
.topbar-data span:nth-child(1) {
    position: absolute;
    left: 4px;
}
.topbar-data span:nth-child(2) {
    position: absolute;
    left: 82px;
}
.topbar-data span:nth-child(3) {
    position: absolute;
    left: 155px;
}
.topbar-btn {
    position: absolute;
    width: 254px;
    height: 100px;
    top: 0;
    left: 495px;
    zoom: 0.8;
}
.btn-character {
    position: absolute;
    top: 9.5px;
    left: 792px;
    width: 40px;
    height: 40px;
}
.btn-shop {
    position: absolute;
    top: 9.5px;
    left: 836px;
    width: 40px;
    height: 40px;
}